<?xml version='1.0' encoding='utf-8'?>
<!--
#part of the cordova template at https://github.com/sk3l3t0r/cordova-template
#author: android0x17@gmail.com
-->

<widget id="org.project.mobile" version="1.0.0" xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0">
    <!-- watch out, this project name has to be EXACTLY LIKE the one specified in 0_0_configuration.conf -->
    <name>projectname</name>
    <description>
        project mobile
    </description>
    <author email="dev@project.com" href="http://project.com">
        project dev team
    </author>
    <content src="index.html"/>
    <preference name="permissions" value="none"/>
    <preference name="orientation" value="default"/>
    <preference name="target-device" value="iphone"/>
    <preference name="fullscreen" value="false"/>
    <preference name="webviewbounce" value="true"/>
    <preference name="prerendered-icon" value="true"/>
    <preference name="stay-in-webview" value="false"/>
    <preference name="ios-statusbarstyle" value="black-opaque"/>
    <preference name="detect-data-types" value="true"/>
    <preference name="exit-on-suspend" value="false"/>
    <!--<preference name="show-splash-screen-spinner" value="true"/>-->
    <!--<preference name="auto-hide-splash-screen" value="true"/>-->
    <preference name="disable-cursor" value="false"/>
    <preference name="android-minSdkVersion" value="14"/>
    <preference name="android-targetSdkVersion" value="17"/>
    <preference name="android-installLocation" value="auto"/>
    <preference name="exit-on-suspend" value="false" />
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="KeyboardShrinksView" value="false" />




    <icon gap:density="ldpi" gap:platform="android" src="android/icon/icon-36-ldpi.png"/>
    <icon gap:density="mdpi" gap:platform="android" src="android/icon/icon-48-ldpi.png.png"/>
    <icon gap:density="hdpi" gap:platform="android" src="android/icon/icon-72-ldpi.png.png"/>
    <icon gap:density="xhdpi" gap:platform="android" src="android/icon/icon-96-ldpi.png.png"/>

    <icon gap:platform="ios" height="57" src="ios/icon/icon-57.png" width="57"/>
    <icon gap:platform="ios" height="72" src="res/icon/ios/icon-72.png" width="72"/>
    <icon gap:platform="ios" height="114" src="res/icon/ios/icon-57-2x.png" width="114"/>
    <icon gap:platform="ios" height="144" src="res/icon/ios/icon-72-2x.png" width="144"/>
    <!--<gap:splash gap:density="ldpi" gap:platform="android" src="res/screen/android/screen-ldpi-portrait.png"/>-->
    <!--<gap:splash gap:density="mdpi" gap:platform="android" src="res/screen/android/screen-mdpi-portrait.png"/>-->
    <!--<gap:splash gap:density="hdpi" gap:platform="android" src="res/screen/android/screen-hdpi-portrait.png"/>-->
    <!--<gap:splash gap:density="xhdpi" gap:platform="android" src="res/screen/android/screen-xhdpi-portrait.png"/>-->

    <!--<platform name="ios">-->
        <!--&lt;!&ndash; iOS 7.0+ &ndash;&gt;-->
        <!--&lt;!&ndash; iPhone / iPod Touch  &ndash;&gt;-->
        <!--<icon src="res/ios/icon-57.png" width="57" height="57" />-->
        <!--<icon src="res/ios/icon-57@2x.png" width="114" height="114" />-->
        <!--&lt;!&ndash; iOS 7.0+ &ndash;&gt;-->
        <!--&lt;!&ndash; iPhone / iPod Touch  &ndash;&gt;-->
        <!--<icon src="res/ios/icon-60.png" width="60" height="60" />-->
        <!--<icon src="res/ios/icon-60@2x.png" width="120" height="120" />-->
        <!--&lt;!&ndash; iPad &ndash;&gt;-->
        <!--<icon src="res/ios/icon-76.png" width="76" height="76" />-->
        <!--<icon src="res/ios/icon-76@2x.png" width="152" height="152" />-->
        <!--&lt;!&ndash; iOS 6.1 &ndash;&gt;-->
        <!--&lt;!&ndash; Spotlight Icon &ndash;&gt;-->
        <!--<icon src="res/ios/icon-40.png" width="40" height="40" />-->
        <!--<icon src="res/ios/icon-40@2x.png" width="80" height="80" />-->
        <!--&lt;!&ndash; iPhone / iPod Touch &ndash;&gt;-->
        <!--<icon src="res/ios/icon.png" width="57" height="57" />-->
        <!--<icon src="res/ios/icon@2x.png" width="114" height="114" />-->
        <!--&lt;!&ndash; iPad &ndash;&gt;-->
        <!--<icon src="res/ios/icon-72.png" width="72" height="72" />-->
        <!--<icon src="res/ios/icon-72@2x.png" width="144" height="144" />-->
        <!--&lt;!&ndash; iPhone Spotlight and Settings Icon &ndash;&gt;-->
        <!--<icon src="res/ios/icon-small.png" width="29" height="29" />-->
        <!--<icon src="res/ios/icon-small@2x.png" width="58" height="58" />-->
        <!--&lt;!&ndash; iPad Spotlight and Settings Icon &ndash;&gt;-->
        <!--<icon src="res/ios/icon-50.png" width="50" height="50" />-->
        <!--<icon src="res/ios/icon-50@2x.png" width="100" height="100" />-->
    <!--</platform>-->



    <!--<icon gap:platform="ios" height="57" src="ios/icon/icon-57.png" width="57"/>-->
    <!--<icon gap:platform="ios" height="72" src="ios/icon/ios/icon-72.png" width="72"/>-->
    <!--<icon gap:platform="ios" height="114" src="ios/icon/ios/icon-57-2x.png" width="114"/>-->
    <!--<icon gap:platform="ios" height="144" src="ios/icon/ios/icon-72-2x.png" width="144"/>-->

    <!--<splash gap:platform="ios"  width="320" height="480" src="res/screen/ios/Default~iphone.png"/>-->
    <!--<splash gap:platform="ios" width="640" height="960" src="res/screen/ios/Default@2x~iphone.png" />-->
    <!--<splash gap:platform="ios" width="768" height="1024" src="res/screen/ios/Default-Portrait~ipad.png" />-->
    <!--<splash gap:platform="ios" width="1024" height="768" src="res/screen/ios/Default-Landscape~ipad.png" />-->

    <access origin="*"/>
</widget>